// color
$white: #fff;
$black: #222;
// $gray: #666;
$gray: #9f9f9f;
$gray2: #707070;
$lightGray: #efefef;
// $darkGray: #212121;
$darkGray: #333;

// section 3 background colors
$pink: #ffebeb;
$purple: #eff3ff;
$green: #e8fdc0;

//section 6 background color
$yellow: #fdffe6;

$activeRed: #fb3e1d;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;
$mobile: 375px;

// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
