- const relativePath = '.'

//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body.topPage
        //- HEADER

        //- MAIN CONTENT
        main.siteContent
            //- SECTION 1
            include ./_sec/_sec01.pug
            //- SECTION 2
            include ./_sec/_sec02.pug
            //- SECTION 3
            include ./_sec/_sec03.pug
            //- SECTION 4
            include ./_sec/_sec04.pug
            //- SECTION 5
            include ./_sec/_sec05.pug
            //- SECTION 6
            include ./_sec/_sec06.pug
            //- SECTION 7
            include ./_sec/_sec07.pug

            // Scripts
        if isJquery
            script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js`)
            script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
        if isWowEffects
            script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
        if isSwiper
            script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`) // latest
        if isBootstrap
            script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")

                //-  MAIN SCRIPT
        script(src=`${relativePath}/_assets/js/bundle.js`)
        //-  MAIN SCRIPT