section.sec03
  .sec03__item.sec03__itemFirst
    h1.sec03__number 01
    h3.sec03__title タイトル
    p.sec03__description ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
  .sec03__item.sec03__itemSecond
    h1.sec03__number.sec03__noSkew 02
    h3.sec03__title.sec03__noSkew タイトル
    p.sec03__description.sec03__noSkew ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
  .sec03__item.sec03__itemThird
    h1.sec03__number 03
    h3.sec03__title タイトル
    p.sec03__description ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト