section.sec02
  .sec02__item
    img.sec02__itemImg(src="_assets/images/sec02_img01.svg", alt="goggles")
    h3.sec02__text ダミーテキストダミーテキスト
    img.sec02__itemIcon(src="_assets/images/plus-icon.svg", alt="positive sign")
  .sec02__item
    img.sec02__itemImg(src="_assets/images/sec02_img02.svg", alt="socks")
    h3.sec02__text ダミーテキストダミーテキストダミーテキスト ダミーテキスト
    img.sec02__itemIcon(src="_assets/images/plus-icon.svg", alt="positive sign")