section.sec01
  ul.sec01__list
    li.sec01__listItem
      .sec01__titleContainer.sec01__titleContainer01
        h3.sec01__title ダミーテキスト
      .sec01__body
        img.sec01__img(src="_assets/images/sec01_img01.svg", alt="PPE")
        ul.sec01__textList
          li.sec01__textListItem ダミーテキスト
          li.sec01__textListItem ダミーテキストダミーテキスト
          li.sec01__textListItem ダミーテキストダミーテキスト
    li.sec01__listItem
      .sec01__titleContainer.sec01__titleContainer02
        h3.sec01__title  ダミーテキスト
      .sec01__body
        img.sec01__img(src="_assets/images/sec01_img02.svg", alt="wipes")
        ul.sec01__textList
          li.sec01__textListItem ダミーテキスト
          li.sec01__textListItem ダミーテキストダミーテキスト
          li.sec01__textListItem ダミーテキストダミーテキスト
    li.sec01__listItem
      .sec01__titleContainer.sec01__titleContainer03
        h3.sec01__title  ダミーテキスト
      .sec01__body
        img.sec01__img(src="_assets/images/sec01_img03.svg", alt="thermometer")
        ul.sec01__textList
          li.sec01__textListItem ダミーテキスト
          li.sec01__textListItem ダミーテキストダミーテキスト
          li.sec01__textListItem ダミーテキストダミーテキスト