section.sec04
  a(href="#").sec04__cardContainer
    .sec04__imageContainer
      img.sec04__img(src="_assets/images/sec04_img.svg", alt="gloves")
    .sec04__text
      h3.sec04__title ダミーテキストダミーテキスト
      p.sec04__description ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
      p.sec04__footer ダミーテキストダミーテキスト