section.sec06
  ul.sec06__list
    li.sec06__listItem
      .sec06__title 
        h3.sec06__title.text ダミー
          br
          | テキスト
      p.sec06__description ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
    li.sec06__listItem
      .sec06__title
        h3.sec06__title.text ダミー
      ul.sec06__dataList01
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
        li.sec06__dataList01Item ダミーテキスト
    li.sec06__listItem
      .sec06__title 
        h3.sec06__title.text ダミー
          br
          | テキスト
      ul.sec06__dataList02
        li.sec06__dataList02Item ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー
        li.sec06__dataList02Item ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ
        li.sec06__dataList02Text ※ダミーテキストダミーテキストダミーテキストダミーテキストダミ