section.sec07
  ul.sec07__dataList
    li.sec07__dataItem
      h1.sec07__title ダミーテキストダミー
      p.sec07__text ダミーテキストダミー  テキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミー
    li.sec07__dataItem
      h1.sec07__title ダミーテキストダミー
      p.sec07__text ダミーテキストダミー テキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミー
    li.sec07__dataItem
      h1.sec07__title ダミーテキストダミー
      p.sec07__text ダミーテキストダミー テキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミー