section.sec05
  .sec05__list
    .sec05__listItem.sec05__list01
      h2.sec05__list01--leftText ダミーテキスト
      p.sec05__list01--rightText DUMMY
    .sec05__listItem.sec05__list02
      .sec05__data
        h2.sec05__top ダミーテキスト
        p.sec05__bottom DUMMY
    .sec05__listItem.sec05__list03
      .sec05__listItemImages
        img.sec05__itemImg(src="_assets/images/sec05_img01.svg", alt="facemask")
        img.sec05__itemImg(src="_assets/images/sec05_img02.svg", alt="vitamins")
      .sec05__listItemText
        p.sec05__textTop DUMMY TEXT
        h2.sec05__textBottom ダミーテキスト
      
      img.sec05__listItemGreaterThan(src="_assets/images/greater-than-icon.svg", alt="greater than sign")
    .sec05__listItem.sec05__list04
      .sec05__listItemText
        p.sec05__leftText DUMMY TEXTDUMMY
          br
          | TEXTDUMMY TEXT
      h2.sec05__rightText ダミーテキスト