/*-----------------------------------------------
SECTION 7
------------------------------------------------*/
.sec07 {
  margin: 84px auto 140px;
  max-width: 1100px;

  @include u-mqMax() {
    margin-top: 80px;
  }

  &__dataList {
    border-top: 1px solid $darkGray;
    padding-top: 19px;

    @include u-flex($fd: row, $fw: nowrap, $jc: space-around, $ai: stretch);

    list-style: none;
    overflow: hidden;

    @include u-mqMax() {
      border: none;
      border-left: 1px solid $darkGray;
      display: block;
    }
  }

  &__dataItem {
    margin-left: 40px;
    position: relative;

    @include u-mqMax() {
      max-width: 200px;
    }

    &:before {
      content: url(../images/list-style-pc.svg);
      position: absolute;
      top: -21px;
      left: -24px;
  
      @include u-mqMax() {
        content: url(../images/list-style-sp.png);
        top: 0;
        left: -58px;
        transform: scale(.51);
      }
    }
  }

  &__title {
    margin: 0;
    max-width: 327px;
    font-size: 2rem;
    line-height: 1.35;

    @include u-mqMax() {
      font-size: 1.6rem;
    }
  }
  &__text {
    margin: 11px 0 40px;
    max-width: 327px;
    font-size: 1.5rem;
    line-height: 1.7;

    @include u-mqMax() {
      font-size: 1.1rem;
    }
  }

  @include u-mqMax() {
    font-size: 1.1rem;
  }
}
