/*-----------------------------------------------
SECTION 1
------------------------------------------------*/
.sec01 {
  margin: 0 auto 36px;
  max-width: 1100px;
  overflow: hidden;

  @include u-mqMax() {
    margin: 0 auto 32px;
  }

  &__list {
    margin: 0;
    width: 100%;
    @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: stretch);
    
    @include u-mqMax() {
      display: block;
    }
  }

  &__listItem {
    width: 100%;
    list-style: none;
    text-align: center;
  }

  &__titleContainer {
    padding: 10px;
    background: $darkGray;
    position: relative;
    color: $white;
    font-size: 2rem;
    transform: skew(-25deg);

    @include u-mqMax() {
      transform: skew(0deg);
    }
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    color: $white;
    transform: skew(25deg);
    

    @include u-mqMax() {
      font-size: 1.6rem;
      transform: skew(0deg);
    }

    &:nth-child(2) {
      transform: skew(25deg);
    }
  }

  &__titleContainer01 {
    margin: 0 0 0 -25px;

    @include u-mqMax() {
      margin: 0;
    }
  }
  &__titleContainer02 {
    border-right: 4px solid $white;
    border-left: 4px solid $white;

    @include u-mqMax() {
      border: none;
    }
  }
  &__titleContainer03 {
    margin: 0 -25px 0 0;

    @include u-mqMax() {
      margin: 0;
    }
  }

  &__body {
    padding-top: 44px;
    padding-bottom: 48px;

    @include u-mqMax() {
      padding-top: 25px;
    }
  }

  &__img {
    margin: 0 27px 38px;

    @include u-mqMax() {
      margin-bottom: 22px;
    }
  }

  &__textList {
    text-align: left;
    overflow: visible;
    vertical-align: middle;
    margin: 0 27px 0;
  }
  &__textListItem {
    text-align: left;
    padding-left: 30px;
    position: relative;
    color: $darkGray;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.3;
    list-style: none;

    &:before {
      content: url(../images/x-icon.svg);
      position: absolute;
      top: 2.5px;
      left: 0;
      
      @include u-mqMax() {
        top: 0;
      }
    }

    &:nth-child(2) {
      margin: 24px 0;
    }

    @include u-mqMax() {
      font-size: 1.4rem;
    }
  }
}