/*-----------------------------------------------
SECTION 3
------------------------------------------------*/
.sec03 {
  $this: &;

  margin: 84px auto 0;
  max-width: 800px;
  text-align: center;

  @include u-mqMax() {
    margin-top: 80px;
  }

  &__itemFirst {
    padding: 20px 50px 84px;
    background: $pink;
    
    @include u-mqMax() {
      padding: 25px 15px 60px;
    }
  }

  &__itemSecond {
    
    border-top: 20px solid $white;
    border-bottom: 20px solid $white;
    margin-top: -40px;
    margin-bottom: -40px;
    padding: 18px 50px 46px;
    background: $purple;
    transform: skewY(-5deg);

    #{$this}__noSkew {
      transform: skewY(5deg);
    }

    @include u-mqMax() {
      margin-top: -20px;
      margin-bottom: -20px;
      padding: 25px 15px 60px;
    }
  }

  &__itemThird {
    padding: 60px 50px 44px;
    background: $green;

    @include u-mqMax() {
      padding: 45px 15px 60px;
    }
  }

  &__number {
    margin: 0;
    line-height: 1.32;
    font-size: 4rem;
    font-weight: bold;

    @include u-mqMax() {
      font-size: 3.2rem;
    }
  }
  &__title {
    margin: 0 auto 18px;
    line-height: 1.35;
    font-size: 2rem;
    font-weight: bold;

    @include u-mqMax() {
      margin: 0 auto 10px;
      font-size: 1.6rem;
    }
  }
  &__description {
    line-height: 1.7;
    margin: 0;
    font-size: 1.5rem;

    @include u-mqMax() {
      font-size: 1.3rem;
    }
  }
}