/*-----------------------------------------------
SECTION 2
------------------------------------------------*/
.sec02 {
  @include u-flex($fd: row, $fw: nowrap, $jc:center, $ai: stretch);
  text-align: center;
  gap: 52px;

  @include u-mqMax() {
    display: block;
  }

  &__item {
    display: grid;
    border: 1px solid $darkGray;
    padding: 21px 16px 24px;
    width: 50%;
    max-width: 236px;

    @include u-mqMax() {
      margin: auto;
      width: 100%;
    }

    &:nth-child(2) {
      @include u-mqMax() {
        margin-top: 20px;
      }
    }
  }

  &__itemImg {
    justify-self: center;
    height: 100px;
  }
  
  &__text {
    margin: 15px 0 30px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.7;

    @include u-mqMax() {
      font-size: 1.1rem;
    }
  }

  &__itemIcon {
    justify-self: center;
    align-self: end;
  }

}