/*-----------------------------------------------
SECTION 4
------------------------------------------------*/
.sec04 {
  margin: 84px 0 0;
  @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: stretch);

  @include u-mqMax() {
    margin-top: 80px;
  }

  &__cardContainer{
    border: 1px solid $gray2;
    max-width: 553px;

    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    background: $gray; 
  }

  &__cardContainer:hover {
    text-decoration: none;
  }

  &__footer {
    margin: 0;
    position: relative;
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;

    &::after {
      padding-left: 16px;
      display: inline-block;
      content: "＞";
      transition: transform 0.3s ease-out;

      @include u-mqMax() {
        padding-left: 12px;
      }
    }

    @include u-mqMax() {
      font-size: 1.1rem;
    }
  }

  &__cardContainer:hover > &__text > &__footer:after {
    transform: translateX(6px);
  }

  &__cardContainer:hover > &__imageContainer > &__img {
    @include wobbleAnimation();
  }

  &__imageContainer {
    padding:12px;
    max-width:192px;
    background: $gray;

    @include u-mqMax() {
      padding: 5px;
    }
  }

  &__img {
    max-width: 162px;

    @include u-mqMax() {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    padding: 35px 30px;
    background: $white;

    @include u-mqMax() {
      padding: 15px 15px 14px;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.7rem;
    font-weight: bold;

    @include u-mqMax() {
      font-size: 1.5rem;
    }
  }

  &__description {
    margin: 25px 0 40px;;
    font-size: 1.3rem; 
    line-height: 1.7;

    @include u-mqMax() {
      margin: 17px 0 36px;
      font-size: 1.1rem;
    }
  }

}