/*-----------------------------------------------
SECTION 5
------------------------------------------------*/
.sec05 {
  margin: 84px auto 0;
  max-width: 990px;

  @include u-mqMax() {
    margin-top: 80px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 69px;
    grid-auto-rows: 1fr;
    grid-row-gap: 29px;

    @media screen and (max-width: 375px) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-row-gap: 15px;
    }
  }

  &__listItem {
    border: 1px solid $darkGray;
    position: relative;
    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: stretch);
    cursor: pointer;
    overflow: hidden;

    &:hover:before {
      transform: scaleX(1);
    }

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      background: $darkGray;
      content: "";
      opacity: .1;
      transform: scaleX(0);
      transition: transform 300ms ease-in-out;
    }
  }

  // LIST 01
  &__list01 {
    padding: 25px 0;
    justify-content: space-around;
    align-items: center;

    @include u-mqMax() {
      padding: 19px 0;
    }

    &--leftText {
      margin: 0;
      font-size: 3rem;
      font-weight: bold;

      @include u-mqMax() {
        font-size: 2.4rem;
      }
    }
    
    &--rightText {
      margin: 0;
      padding: 5.5px 0 5.5px 22.5px;
      border-left: 1px solid $darkGray;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.35;

      @include u-mqMax() {
        font-size: 1.6rem;
      }
    }
  }

  // LIST 02
  &__list02 {
    padding: 12px 0;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include u-mqMax() {
      padding: 11px 0;
    }
  }

  &__top {
    margin: 0;
    line-height: 1.33;
    font-size: 3rem;

    @include u-mqMax() {
      font-size: 2.4rem;
    }
  }

  &__bottom {
    margin: 0;
    font-size: 1.5rem;

    @include u-mqMax() {
      font-size: 1.3rem;
    }
  }

  // LIST 03
  &__list03 {
    padding: 19px 0;
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;

    @include u-mqMax() {
      border-radius: 25px;
      padding: 12px 0;
      font-size: 1.6rem;
    }
  }

  &__itemImg {
    @include u-mqMax() {
      width: 41px;
    }
  }

  &__textTop {
    margin: 0;
    font-size: 1.5rem; 

    @include u-mqMax() {
      font-size: 1.3rem;
    }
  }

  &__textBottom {
    margin: 0;
    font-size: 2rem;
  }

  &__listItemGreaterThan {
    height: 18px;
  }

  // LIST 04
  &__list04 {
    border-radius: 30px;
    padding: 23px;
    @include u-flex($fd: row, $fw: nowrap, $jc: space-around, $ai: center);

    @include u-mqMax() {
      padding: 15px;
      border-radius: 25px;
    }
  }

  &__leftText {
    margin: 0;
    font-size: 1.5rem;
  }

  &__rightText {
    margin: 0;
    font-size: 2rem;

    @include u-mqMax() {
      font-size: 1.6rem;
    }
  }

}