/*-----------------------------------------------
SECTION 6
------------------------------------------------*/
.sec06 {
  margin: 84px auto 0;

  @include u-mqMax() {
    margin-top: 80px;
  }
 
  &__list {
    margin: auto;
    max-width: 700px;
  }

  &__listItem {
    padding: 10.5px 25px 10.5px 0;

    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: center);

    background: $yellow;
    margin-top: 15px;

    @include u-mqMax() {
      margin-top: 20px;
    }

    &:nth-child(1) {
      @include u-mqMax() {
        padding: 20px 0 0 0;
        display: block;
      }
    }

    &:nth-child(2) {

      @include u-mqMax() {
        padding: 20px 20px 0;
        display: block;
      }
    }

    &:nth-child(3) {

      @include u-mqMax() {
        padding: 20px;
        display: block;
      }
    }
  }

  &__title {
    margin: auto;
    padding: 0 10px;
    text-align: center;
    font-size: 2rem;

    $this: &;

    &.text {
      width: 150px;
      margin: auto;
    }

    @include u-mqMax() {
      font-size: 1.6rem;
    }
  }

  &__description {
    border-left: 1px solid $gray2;
    margin: 0;
    padding: 19.5px 0 45.5px 30.5px;
    font-size: 1.5em;
    line-height: 1.7;

    @include u-mqMax() {
      border-top: 1px solid $gray2;
      border-left: none;
      margin: 20px;
      padding: 20px 0;
      font-size: 1.3rem;
    }
  }

  &__dataList01 {
    border-left: 1px solid $gray2;
    width: 100%;
    padding: 25px;
    list-style: none;
    columns: 3;

    @include u-mqMax() {
      border-top: 1px solid $gray2;
      border-left: none;
      margin: 20px 0;
      columns: 2;
      gap: 25px;
    }
  }

  &__dataList01Item {
    margin-bottom: 13px;
    margin-left: 35px;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.33;

    &:before {
      position: absolute;
      left: -20px;
      content: url(../images/list-style-triangle.svg);
    }

    @include u-mqMax() {
      margin-bottom: 10px;
      margin-left: 0;
      font-size: 1.3rem;
    }
  }


  &__dataList02 {
    border-left: 1px solid $gray2;
    padding: 32px;
    padding-left: 60px;
    list-style: none;

    @include u-mqMax() {
      border-top: 1px solid $gray2;
      border-left: none;
      margin-top: 20px;
      padding: 20px 0 0 20px;
      display: block;
    }
  }

  &__dataList02Item {
    position: relative;
    font-size: 1.5rem;
    line-height: 1.7;

    &:nth-child(2) {
      margin: 45px auto 25px;
    }

    &:before {
      position: absolute;
      left: -20px;
      content: url(../images/list-style-square.svg);
    }

    @include u-mqMax() {
      font-size: 1.3rem;
    }
  }

  &__dataList02Text {
    font-size: 1.1rem;
    line-height: 1.7;

    @include u-mqMax() {
      font-size: 1rem;
    }
  }
}