meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title ダミーテキスト
link(rel="stylesheet", href="_assets/css/style.css")
//- ######## DEFAULT STYLING #############
//- link(rel=`stylesheet` media=`print,screen` href=`${relativePath}/_assets/css/style.css`)
//- ######## / DEFAULT STYLING #############
