footer.siteFooter
    .inner__cont

        //- back to top
        .toTop.js-toTop

        p.copyrights &copy; website.com | 2020

|
|

// Scripts
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`) // latest
if isBootstrap
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
